// 浏览器默认16px

/* 字体类 */
@for $i from 10 through 40 {
  .fs#{$i} {
    font-size: #{$i}px;
  }
}

.fw500 {
  font-weight: 500;
}


/* 颜色系统 */

// 大标题色
$--color-title-big: #1C1C1C;

// 主标题色
$--color-title: #09172F;

// 次标题色
$--color-second: #6A7484;

// 提示文字色
$--color-tip: #9BA6BA;

// 文字失去焦点色
$--color-unfocus: #64667B;


// 抄自configuration.scss配置
// 主题色
// $--color-primary: #3387F1;


// 大标题
.color-title-big {
  color: $--color-title-big;
}

//主标题
.color-title {
  color: $--color-title;
}

// 二级标题, 次标题
.color-second,
.color-title-second {
  color: $--color-second;
}

// 辅助文字
.color-tip {
  color: $--color-tip;
}

// 文字失去焦点
.color-unfocus {
  color: $--color-unfocus;
}

.color-primary {
  color: $--color-primary;
}



// 边框色
$--color-border: #E4E8EB;




.border {
  border: 1px solid $--color-border;
}

.border-none {
  border: none;
}

.border- {
  &t {
    border-top: 1px solid $--color-border;
  }

  &b {
    border-bottom: 1px solid $--color-border;
  }

  &l {
    border-left: 1px solid $--color-border;
  }

  &r {
    border-right: 1px solid $--color-border;
  }
}