// 参考 https://www.tailwindcss.cn/ 网站, 制定的快捷常用css样式

.t- {
  &c {
    text-align: center;
  }

  &l {
    text-align: left;
  }

  &r {
    text-align: right;
  }

  &j {
    text-align: justify;
  }
}


// display快速布局
.dis- {
  &i {
    display: inline-block;
  }

  &b {
    display: block !important;
  }

  &n {
    display: none !important;
  }
}

.flow-root {
  display: flow-root;
}


// 定位
.pos-r {
  &r {
    position: relative;
  }

  &a {
    position: absolute;
  }

  &f {
    position: fixed;
  }
}


// 居中对齐



.fx {
  display: flex;

  // align-items: center;
  &-ac {
    display: flex;
    align-items: center;
  }

  &-c {
    display: flex;
    justify-content: center;
  }

  &-ac-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-ac-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-ac-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-bet {
    display: flex;
    justify-content: space-between;
  }

  &-space {
    display: flex;
    justify-content: space-around;
  }
}

.fx-wrap {
  display: flex;
  flex-wrap: wrap;
}

.fx-dir {
  display: flex;
  flex-direction: column;
}

.fx-c {
  display: flex;
  justify-content: center; // 水平方向居中
  align-items: center; // 垂直方向居中
}


// .fx {
// display: flex !important;

// &- {
//   &c {
//     justify-content: center;
//     align-items: center;
//     display: flex;
//   }

//   &col {
//     -webkit-flex-direction: column;
//     flex-direction: column;
//     display: flex;
//   }

//   &sa {
//     justify-content: space-around;
//     display: flex;
//   }

//   &sb {
//     justify-content: space-between;
//     display: flex;
//   }

//   &wrap {
//     flex-wrap: wrap;
//     display: flex;
//   }

//   &end {
//     justify-content: flex-end;
//     display: flex;
//   }
// }
// }

.fx1 {
  flex: 1;
}

.pointer {
  cursor: pointer;
}


// 高度,宽度
@for $i from 1 through 10 {
  .w#{$i*10} {
    width: #{$i * 10}vw;
  }
}

@for $i from 1 through 10 {
  .h#{$i*10} {
    height: #{$i * 10}vh;
  }
}



// 外边距, 5 - 100px
@for $i from 1 through 25 {
  .mgt#{$i*2} {
    margin-top: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .mgb#{$i*2} {
    margin-bottom: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .mgl#{$i*2} {
    margin-left: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .mgr#{$i*2} {
    margin-right: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .mglr#{$i*2} {
    margin-left: #{$i * 2}px;
    margin-right: #{$i * 2}px;
  }
}


@for $i from 1 through 20 {
  .mgt#{$i*5} {
    margin-top: #{$i * 5}px;
  }
}

@for $i from 1 through 20 {
  .mgb#{$i*5} {
    margin-bottom: #{$i * 5}px;
  }
}

@for $i from 1 through 20 {
  .mgl#{$i*5} {
    margin-left: #{$i * 5}px;
  }
}

@for $i from 1 through 20 {
  .mgr#{$i*5} {
    margin-right: #{$i * 5}px;
  }
}


// 内边距, 5 - 100px
@for $i from 1 through 25 {
  .pdt#{$i*2} {
    padding-top: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .pdb#{$i*2} {
    padding-bottom: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .pdl#{$i*2} {
    padding-left: #{$i * 2}px;
  }
}

@for $i from 1 through 25 {
  .pdf#{$i*2} {
    padding-right: #{$i * 2}px;
  }
}



// 5-100
@for $i from 1 through 20 {
  .pdt#{$i*5} {
    padding-top: #{$i * 5}px;
  }
}

@for $i from 1 through 20 {
  .pdb#{$i*5} {
    padding-bottom: #{$i * 5}px;
  }
}

@for $i from 1 through 20 {
  .pdl#{$i*5} {
    padding-left: #{$i * 5}px;
  }
}

@for $i from 1 through 20 {
  .pdr#{$i*5} {
    padding-right: #{$i * 5}px;
  }
}

// 省略号1/2行
// ellipsis
.ell-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all; // 英文不换行拆单词
}

.ell-2 {
  word-break: break-all; // 英文不换行拆单词
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// 去掉滚动条
.scroll-bar::-webkit-scrollbar {
  display: none;
}